{% extends 'authenticate/base.html' %} {% block content %} {% load static %}


<link rel="stylesheet" href="{% static 'home.css' %}" />
<h1 style="color:white;"> Home page</h1>

{% if user.is_authenticated %}
<p style="color:white;"><i><b>Name: {{user.first_name}} {{ user.last_name}}</b></i></p>
<p style="color:white;"><i><b>Username: {{user.username}}</b></i></p>

<p style="color:white;"><i><b>Email: {{user.email}}</b></i></p>

{% endif %}
<br>
<br>
<footer style="background-color: #777;
  padding: 10px;
  text-align: center;
  color: white;">

    <p>
        <h1 style="color:white;"><strong>FOLLOW US</h1></strong></p>
    <a href="https://instagram.com/shivam_sharma_madhavgarh?igshid=98kdqle5wcmlz">
        <figure><img src="{% static 'img/insta.png' %}" alt="#" width="70" hight="100" />
            <a href="https://www.linkedin.com/in/shivam-sharma-5a7122174/"><img src="{% static 'img/linked.png' %}" alt="#" width="100" hight="100" />
                <a href="mailto:shivamsharmamdh@gmail.com"><img src="{% static 'img/gmail.png' %}" alt="#" width="70" hight="100" /></a>
            </a>
    </figure>
    </figure>


    {% endblock %}
</footer>